body{
	display: grid;
}

div{
	margin-right: 10px;
}


@media only screen and (max-width: 410px){
	body{
		background-color: red;
	}

	#small{
		grid-row: 1;
	}

	#medium{
		grid-row: 2;
	}

	#large{
		grid-row: 3;
	}
}


@media only screen and (min-width: 410px){
	body{
		background-color: green;
	}

	#small{
		grid-column: 1 / 2;
		grid-row: 1;
	}

	#medium{
		grid-column: 3;
		grid-row: 1;
	}

	#large{
		grid-column: 1 / 4;
		grid-row: 2;
	} 
}

@media only screen and (min-width: 768px){
	body{
		background-color: blue;
	}

	#small{
		grid-column: 1;
		grid-row: 1;
	}

	#medium{
		grid-column: 2;
		grid-row: 1;
	}

	#large{
		grid-column: 3;
		grid-row: 1;
	}
}